@mixin btn-style() {
  display: inline-block;
  background: $blue-gradient;
  background-size: 120%;
  font-family: inherit;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 2px;
  margin: 0.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  transition: all 0.1s ease-out;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin outline-text($color) {
  text-shadow: -1px -1px 0 $color, 1px 1px 0 $color, 1px -1px 0 $color,
    -1px 1px 0 $color;
}

// for browser compatibility is better to use em
//  1em = 16px;

@mixin responsive($device) {
  @if $device == phone {
    @media (max-width: 37.5em) {
      // 600px / 16px (1 em).. how many em is 600px..
      @content;
    }
  }
  @if $device == tab-portrait {
    @media (max-width: 56.25em) {
      //900 px
      @content;
    }
  }
  @if $device == tab-landscape {
    @media (max-width: 75em) {
      // 1200 px
      @content;
    }
  }
  @if $device == big-desktop {
    @media (min-width: 120em) {
      //1800+
      @content;
    }
  }
}
