@mixin btn-style() {
  display: inline-block;
  background: $blue-gradient;
  font-family: inherit;
  padding: 0.5rem 0.8rem;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 2px;
  font-family: inherit;
  margin-top: 0.3rem;
  font-size: 0.85rem;
  color: white;
  font-weight: bold;
  transition: all 0.1s ease-out;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin outline-text($color) {
  text-shadow: -1px -1px 0 $color, 1px 1px 0 $color, 1px -1px 0 $color,
    -1px 1px 0 $color;
}
