$btn-submit-background: rgb(183, 246, 183);

$green-text: #1d7931;
$green-go: #00d86b;
$green-success: #2cc602;

$blue-info: #06a0fa;
$blue-bar: #37cde4;
$blue-text: #0c4f79;

$red-on: #ff4f19;
$yellow-on: #ffd300;
$red: #f53240;

$red-gradient: linear-gradient(48deg, $red, $red-on);
$blue-gradient: linear-gradient(42deg, $blue-info, $blue-bar);
