.form {
  &-main {
    transition: height 0.5s ease-in;
    font-size: 0.9rem;
  }

  &-wrap {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    min-height: 11rem;
    // make respponsive with flex only some forms
    &[loading-id="SEARCH-DATA"],
    &[loading-id="LOAD-ALARM-INPUT"],
    &[loading-id="LOAD-SESSION-GOAL"] {
      @include responsive(phone) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-input {
    &-textarea {
      width: 100%;
      height: 95%;
      padding: 1rem;
      transform: translateY(110%);
      animation: slide-0 0.2s ease-in forwards;
      //browser compatibility, and linux
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 2px;
      box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 0.2);
    }

    &-textfield {
      width: 100%;
      height: 2.5rem;

      transform: translateX(-110%);
      animation: slide-0 0.15s ease-in forwards;
      //browser compatibility, and linux
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 2px;
      box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.9);
      margin-bottom: 0.4rem;
      padding: 1.7rem 1rem;
      &-crypt {
        width: 100%;
        transform: translateX(-110%);
        animation: slide-0 0.15s ease-in forwards;
        //browser compatibility, and linux
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.9);
        padding: 1.3rem;
        margin-bottom: 0.4rem;
      }
    }

    &-text {
    }
    // alarm
    &-alarm-time {
      max-width: 5rem;
    }
  }

  // RIGHT UNDER CRYPT FORM, result decryption
  &-decrypt-records {
    height: 0;
    overflow: hidden;
    animation: span-in 0.3s ease-out forwards;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    &-field {
      margin: 0.5rem;
      //browser compatibility, and linux
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 2px;
      box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.9);
      padding: 1rem;
    }
  }

  //    GRID PROPERTIES
  &-group {
    min-height: 2rem;
    overflow-x: hidden;
    text-align: center;
    padding: 3px;

    &-input {
      grid-row: 1/3;
      grid-column: 1/2;
      height: 100%;
      padding: 0.5rem 0;

      &-crypt {
        margin-top: 0.5rem;
      }
      //setting info higher if form info is from search
      &-search {
        grid-row: 2/3;
      }
    }

    &-body {
      // takes from the forst line to the last
      grid-row: 1/4;
      //takes from the second line to the third(here are only 3);
      grid-column: 2/3;
      padding: 0.5rem 1rem;
    }

    &-submit {
      grid-row: 3 / 4;
      text-align: center;
    }

    &-info {
      grid-row: 3/4;
      grid-column: 2/3;

      &-search {
        // The search form leave too much space when almost empty
        grid-row: 2/4;
        padding: 0 1rem;
      }
    }

    // for main set goal form
    &-manage-goal {
      grid-row: 2/3;
      grid-column: 2/3;
    }
    &-setgoal {
      grid-row: 3/4;
      grid-column: 1/2;
      text-align: center;
    }
  }
}
