.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  padding: 1rem 0;
  &-logout,
  &:visited,
  &:link {
    color: inherit;
    text-align: right;
    font-size: 1.7rem;
    text-decoration: none;
    margin-top: 0.5rem;
    color: $blue-text;
    @include outline-text(white);
    @include responsive(tab-portrait) {
      padding-right: 3rem;
    }
    transition: all 0.2s;
    &:hover {
      color: white;
      @include outline-text($blue-text);
    }
    &:active {
      color: white;
      @include outline-text(white);
    }
  }
}
