.btn {
  &-load-goals {
    outline: none;
    @include btn-style();
  }
  &-record {
    &-delete {
      @include btn-style();
      background: $red-gradient;
      color: white;
    }
  }

  &-submit {
    &-goals {
      border: none;
      @include btn-style();
      padding: 0.2rem !important;
    }
    &-form-crypt {
      @include btn-style();
    }
    &-decrypt-records {
      margin: 0.5rem 1.5rem;
      max-width: 7rem;
      @include btn-style();
    }
  }

  &-goal-delete {
    @include btn-style();
  }
}

.form-input-submit {
  border: none;
  padding: 0.5rem 1rem;
  @include btn-style();
}
