.btn {
  &-load-goals {
    outline: none;
    @include btn-style();
  }
  &-record {
    &-delete {
      @include btn-style();
      background: $red-gradient;
      color: white;
    }
  }

  &-submit {
    &-goals {
      border: none;
      @include btn-style();
      padding: 0.2rem !important;
      height: 2.5rem;
    }
    &-form-crypt {
      @include btn-style();
    }
    &-decrypt-records {
      @include btn-style();
      max-width: 11rem;
    }
  }

  &-goal-delete {
    @include btn-style();
  }
}

.form-input-submit {
  @include btn-style();
}
