.checked {
  background-color: rgba(139, 203, 223, 0.1);
  border: solid 1px rgba(139, 203, 223, 0.3);
}

/* json-data   attribute*/

[json-data] {
  color: #333;
  padding: 0.5rem;
}

.alarm {
  background: rgb(255, 175, 175) !important;
}

.result-record {
  &-container {
    font-size: 1rem;
    display: grid;
    background: rgb(254, 254, 254);
    grid-template-columns: repeat(3, 1fr);
    transform: translateX(65rem);
    animation: slide-left 0.2s ease-in forwards;
  }

  &-session {
  }

  &-title {
    grid-column: 1/2;
    grid-row: 1/2;
    color: $blue-text;
  }
  &-marked {
    text-align: center;
    color: blue;
    cursor: pointer;

    &-text {
      pointer-events: none;
      font-weight: bolder;
    }
  }

  &-btn-marktext {
    display: none;
    visibility: hidden;
    opacity: 0;
    color: transparent;
    border: transparent;
    background: transparent;
    z-index: -1;
    @include btn-style();
  }

  &-body {
    grid-column: 1/4;
    padding: 0.2rem 1rem;
    font-weight: 600;

    font-family: "Roboto Condensed", sans-serif;
  }

  &-date {
    margin-top: 0.5rem;
  }
  &-marked {
    margin-top: 0.5rem;
  }
  &-delete {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  //goal in the result
  &-onegoal {
  }
}
