.subtitle {
  position: absolute;
  left: 60%;
  color: $yellow-on;
  @include outline-text($red);
  &-container {
    display: block;
    position: relative;
    text-align: right;
    height: 0;
    width: 100%;
    overflow: hidden;
    animation: span-in 0.3s ease-out forwards;
  }
}
#app-title {
  font-size: 3rem;
  letter-spacing: 4rem;
  color: $green-go;
  position: relative;
  @include outline-text(black);
  &::after {
    content: "Plan safely, encrypting your information";
    font-size: 0.65rem;
    color: black;
    left: 0;
    bottom: -0.7rem;
    position: absolute;
    text-shadow: none;
    letter-spacing: 0.5rem;
    text-transform: capitalize;
  }
}
