.subtitle {
  position: absolute;
  left: 55%;
  color: $yellow-on;
  letter-spacing: 0.2rem;
  @include outline-text($red);

  @include responsive(tab-portrait) {
    display: none;
  }

  &-container {
    display: block;
    position: relative;
    text-align: right;
    height: 0;
    width: 100%;
    overflow: hidden;
    animation: span-in 0.3s ease-out forwards;
  }
}

#app-title {
  font-size: 3rem;
  letter-spacing: 6vw;
  color: $green-go;
  position: relative;
  margin: 2rem 0;
  @include outline-text(black);

  &::after {
    content: "Plan safe, encrypting your Data";
    font-size: 0.9rem;
    color: black;
    left: 0;
    bottom: -0.7rem;
    word-break: keep-all;
    position: absolute;
    text-shadow: none;
    letter-spacing: 0.8vw;
    text-transform: capitalize;
  }
}

p.form-info-text {
  font-size: 1.1rem;
}
